<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/michael-w0ng" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/michaelwongsilversmith/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/michael-w0ng" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    2018 - Michael the Maker
  </div>
</div>
