<%= render 'shared/navbar' %>
<div class="container">
  <h1>Contact</h1>
    <%= image_tag("https://res.cloudinary.com/dfowktpgu/image/upload/v1536933571/Image_from_iOS_2_copy_2.jpg", height: 350, class: "")%>
  <p>You're more than welcome to reach out via <a href="https://www.linkedin.com/in/michael-w0ng" target="_blank">LinkedIn</a> or <a href="https://www.instagram.com/michaelwongsilversmith/" target="_blank">Instagram</a> otherwise <a href="mailto:mail@michaelwongsilversmith.com">Email Me</a>!</p>

  <div>
    <%= link_to "Download CV", download_pdf_path  %>
  </div>

</div>

<%= render 'shared/footer' %>
