<%= render 'shared/navbar' %>

<h1>Just kidding...</h1>
<h2>But if you do want to see more of my stuff, check out these places:</h2>


  <ul class="list-inline">
    <li>
      <a href="https://www.instagram.com/michaelwongsilversmith/" target="_blank"><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/michael-wong-b0167742/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </li>
    <li>
      <a href="https://github.com/michael-w0ng" target="_blank"><i class="fab fa-github"></i></a>
    </li>
  </ul>
